#content_board {
    animation: fadeOpacityIn 1s ease 0s 1 normal forwards;
    margin-left:30px
}

.board_div {
    background: #F6F7F8;
    width: 77vw;
    margin-top: -12rem;
    position: fixed;
    margin-left: 2rem;
}

.board_subDiv1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.input_button > input {
    width: 280px;
    height: 51px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    background-image: url(img/search_icon.png), url(img/search_box_line.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 95% 50%, 83% 50%;
    padding-left: 21px;
    font-size: 1rem;
}

.input_button input::placeholder {
    color: #D1D1D1;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.input_button input::-webkit-search-cancel-button{
    position: relative;
    right: 258px;
    cursor: pointer;
}

.input_button button {
    width: 140px;
    height: 51px;
    background: #2A3647;
    color: #fff;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    position: relative;
    padding: 0 2rem 0 0.5rem;
    margin-left: 2rem;
    cursor: pointer;
}

.input_button button:hover {
    background-color: #4e87d6;
}

.input_button button:active {
    transform: scale(0.975);
}

button img {
    position: absolute;
    top: 1.4rem;
    right: 0.4rem;
}

.rotate_line {
    transform: rotate(90deg);
}

.input_button {
    display: flex;
}

.list {
    display: flex;
    justify-content: space-between;
}

.list > ul {
    width: 260px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.category {
    color: #fff;
    display: inline;
    border-radius: 8px;
    padding: 4px 25px;
}

.color1 {
    background: #FF7A00;
}

.color2 {
    background: #FC71FF;
}

.color3 {
    background: #1FD7C1;
}

.color4 {
    background: #0038FF;
}

.heading {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 2rem;
    cursor: default;
    color: #000;
}

.title {
    font-weight: 700;
    margin: 1.2rem 0 0.5rem 0;
    outline: none;
    cursor: text;
    color: #000;
}

.description {
    font-weight: 400;
    color: #A8A8A8;
    outline: none;
    cursor: text;
}

.category_container {
    background-color: #fff;
    border-radius: 30px;
    padding: 1rem;
    margin: 10px;
    cursor: grab;
    border: 1px solid #fff;
    box-shadow: 2px 2px 2px 2px #808080;
}

.sectionBox {
    overflow-y: auto;
    max-height: 54vh;
  }
  
.sectionBox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 5px;
  }
  
.sectionBox::-webkit-scrollbar {
    width: 10px;
  }
  
.sectionBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.8);
  }

.category_container:hover {
    border: 3px solid #000;
}

@media (max-width: 1180px) {
     .board_subDiv1 {
        width: 70vw;
     }
}

@media (max-width: 1020px) {
    .board_subDiv1 {
        display: inline-block;
    }

    .input_button {
        margin-top: 2rem;
    }

    .list {
        display: inline-block;
        margin-top: -3rem;
        overflow-y: auto;
        max-height: 49vh;
    }

    .list::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        margin-right: 5px;
      }
      
    .list::-webkit-scrollbar {
        width: 10px;
      }
      
    .list::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.8);
      }
}

@media (max-width: 800px) {
    .board_div {
        position: inherit;
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-top: 9rem;
        padding-right: 2rem;
        padding-left: 3rem;
        margin-left: 0;
    }

    .board_subDiv1 {
        width: auto;
    }

    .category_container {
        margin: 0;
        margin-bottom: 1rem;
    }

    .list > ul {
        width: auto;
        margin-bottom: 2rem;
    }

    .list {
        max-height: none;
        overflow-y: inherit;
    }

    .input_button > button {
        font-size: 0;
        width: 3rem;
    }

    button img {
        top: 1.4rem;
        right: 0.75rem;
    }

    .sectionBox {
        overflow-y: initial;
        max-height: none;
    }

    .footer_mobil {
        width: 100vw;
    }

    #content_board {
        margin-left: 0;
    }
}

.fullscreen {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.infoWindow {
    background-color: #fff;
    padding: 3rem 3rem 6rem 3rem;
    list-style: none;
    border-radius: 30px;
    width: 35rem;
    position: relative;
}

.infoWindow .category {
    font-size: 1.5rem;
    padding: 4px 37px;
}

.infoWindow .title {
    font-size: 3.2rem;
    line-height: 120%;
    margin-bottom: 1.5rem;
}

.infoWindow .description {
    font-size: 1.3rem;
    color: #000;
    margin-bottom: 1.5rem;
}

.infoWindow .close_icon {
    width: 25px;
    height: auto;
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    cursor: pointer;
}

.infoWindow .change_icon {
    width: 35px;
    height: auto;
    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem;
}

.change_icon:hover {
    cursor: pointer;
}

.change_icon:active {
    transform: scale(0.96);
}

.info_font {
    font-size: 1.3rem;
    color: #000;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 1.5rem;
}