* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #CDCDCD;
    position: relative;
    background: #F6F7F8;
   
    }

h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 61px;
    font-weight: 700;
    }
    
h2 {
    color: rgba(0, 0, 0, 1);
    font-size: 27px;
    font-weight: 400;
    }
    