
.animateOpacityOut {
    animation: fadeOpacityOut 1s ease 0s 1 normal forwards;
}

.animateOpacityIn {
    animation: fadeOpacityIn 1s ease 0s 1 normal forwards;
}

.animateSlidingIn {
    animation: slidingIn 5s normal forwards;
}

.animateSlidingOut {
    animation: slidingOut 5s normal forwards;
}

.animateOpacitiyOutAndIn {
    animation: fadeOpacityOutAndIn 1s ease 0s 1 normal forwards;

}


@keyframes joinlogo {
    0% {
        
        transform: scale(1.6) translate(400%, 150% );
    }
  
    100% {
       
        transform: scale(1.0) translate(0);
    }
}

@keyframes joinlogoMobile {
    0% {
        
        transform: scale(1.6) translate(150%, 200% );
    }

    100% {
       
        transform: scale(1.0) translate(0);
    }
}

@keyframes fadeOpacityOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOpacityIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOpacityOutAndIn {

    0% {
        opacity: 1;
    }


    50% {
        opacity: 0;
    }   

    
    100% {
        opacity: 1
    }
}

@keyframes slidingIn {
   from {
        transform: translateX(800px);
      } 
      to {
        transform: translateX(0px);
      }
}

@keyframes slidingOut {
    from {
         transform: translateX(0px);
         visibility: visible;  
       } 
       to {
         transform: translateX(800px);
         visibility: hidden;               
        
       }

 }