.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
}

.login_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    width: 652px;
    height: 513px;   
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

input#email {
    display: flex;
    align-items: center;

    background-image: url('./img/email.png');
    background-position: 380px 15px;
    background-repeat: no-repeat;
    width:422px;
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding-left: 18px;
    color:rgb(173, 172, 172)   
}


  input#email:focus-visible{
    background-image: url('./img/email.png');
  
    outline: none;
    width:422px;
    height: 51px;
    color:rgb(173, 172, 172);
    border: 1px solid #D1D1D1;
  }
  

::placeholder{
    color: #D1D1D1;
    font-size: 21px;
}

input#password {
    display: flex;
    align-items: center;
    background-image: url('./img/password.png');
    background-position: 380px 15px;
    background-repeat: no-repeat;
    width:422px;
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding-left: 18px;
    color:rgb(173, 172, 172)   
}

  input#password:focus-visible{
    background-image: url('./img/password.png');  
    outline: none;
    width:422px;
    height: 51px;
    color:rgb(173, 172, 172);
    border: 1px solid #D1D1D1;
  }

  .display_flex{
    display:flex;
    align-items:center;   
  }

  .text_margin{
    margin-right: 30px
  }

 .text_rememberme{
    color:black;
 }
  
 .text_password{
    color: #29ABE2;
    cursor: pointer;
 }

 #rememberme{
    cursor:pointer
 }