#content{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-left:100px;
}

.d-none{
    display:none
}

.join_base{
    display:flex;   
    flex-direction:row;
    align-items:center;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:66px 0px;  
    gap: 103px;    
    position: relative;  
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    height: 100vh;
    z-index: 1;
    min-width: 220px;
}

.menu{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 15px;
width: 100%;
height: 229px;
}

.menu_links  {
    display:flex;    
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    cursor:pointer;
    text-align: left;
    width:100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    padding-left:30px;      
}

.menu_links img {
    margin-right: 20px;
    width:20px;
    height:20px
}

.menu_links:hover {
    background-color: #091931;
}


.legal_links{
    width:100%
}


.top_header {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    display: flex;      
    align-items: center;      
    width: 100vw;
    height: 89px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);   
}

.headline{
    display: flex;   
    color: black;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    padding-right: 40px;
    padding-left:250px;  
    font-size:24px;
    line-height:120%
    
}


.img_header{
    display:flex;
    align-items: center;
    gap: 15px
}

.clicked{
    background-color: #091931;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.none-link{
    color: #CDCDCD;
    text-decoration: none;
}

.margin-right{
    margin-right: 16px;
}

a{
    color:white; 
    text-decoration: none;  
}

.headline_mobil{
    display:none;
}

.footer_mobil{
    display:none;

}

.main_headline_mobile{
    display:none;
}

#logout_box{
    z-index:999;
    width:100px;
    height:50px;
    background-color:#091931;
    color:white;
    text-align:center;
    line-height:220%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:20px;
    border-top-left-radius:20px;
    font-size:20px;
    cursor:pointer;
}



.display_column{
    display:flex;
    flex-direction:column;
    align-items:center;    
    gap:10px;
}

.display_column_clicked{
    display:flex;
    flex-direction:column;
    align-items:center;    
    gap:10px;
    padding-top:60px
}



.display_column img{
    width: 60px;
    height:60px;
    cursor:pointer;
}


@media(max-width:800px){
    #content{    
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
    margin-left:31px;
    }

.sidebar{
    display:none
    } 

.footer_mobil{
    background-color: #2A3647;
    display:flex;  
    width:calc(100vw + 34px);
    height:100px;
    margin-top:20px;
    padding-bottom:20px;
    position: sticky;
    bottom:0;
    }

    .join_base{
        flex-direction: column;   
        justify-content: space-between;   
        height:100vh;
        width:calc(100vw - 34px);      
    }

    .menu{
        flex-direction:row;
        height:unset;
        margin-left:30px
       
    }

    .menu_links{
        flex-direction: column;            
        text-align:unset;        
        padding-bottom: 5px;       
        padding-left:unset; 
        width:100%;
        
        gap: 10px;    
        padding-bottom: unset;
        margin: unset;
        padding-left:unset;  
        
    }

    .menu_links:hover{
    background-color: unset;

}
.menu_links img {
    margin-right: unset;   
}

.headline {
    display:none
}

.headline_mobil{
    display: unset;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    width:100%; 
    margin-left:20px;
    margin-right:20px
}

.img_logo_header_mobile{
    width:35px
}

.main_headline_mobile{
    display:unset;
    z-index:999;
    color:black;
    font-weight:200;
    position:absolute;
    top:110px;
    left:29px;
    font-size:20px;
}

.top_header {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    display: flex;      
    align-items: center;      
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);   
}



}

@media(min-width:801px) and (max-width:1000px){
    #content{    
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
    margin-left:40px;
    }

    h3{
        font-size: 20px
    }
}

@media(min-width:1001px) and (max-width:1360px){
    #content{    
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
    margin-left:40px;
    }

    h3{
        font-size: 20px
    }
}
