
.container{
    display:flex;
    align-items:center;
    animation: fadeOpacityIn 1s ease 0s 1 normal forwards;
}

.summary_headline{
    display:flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
    padding-bottom:64px;
    padding-top:100px;
    width:100%    
}

.summary_content{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    width:100%    
}

.summary_tasks{
    display: flex;
    flex-direction:column;
    gap:30px; 
    
}

.task_cases{
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:20px;
    
}

.tasks{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: rgba(0, 0, 0, 1);
    background-color: white;
    gap:13px;
    padding:25px, 0px, 25px, 0px;
    width:170px;
    height:170px;
    border-radius:30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
   }

   .tasks:hover{   
    color: white;
    background-color: #2A3647;      
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
    cursor: pointer;
    transform: scale(108%);
    animation-timing-function: ease-in-out;
    animation-duration: 120ms;
   }


   .tasks_in_board{
    font-size:64px;
    
   }

   
   .tasks_in_board_mouseover{
    font-size:64px;
    color: white;    
   }
  
   .tasks_progress{
    font-size:64px;
    color: rgba(0, 0, 0, 1);
   }

   .tasks_progress_mouseover{
    font-size:64px;
    color: white;
    }

   .tasks_feedback{
    font-size:64px;
    color: rgba(0, 0, 0, 1);
   }

   .tasks_feedback_mouseover{
    font-size:64px;
    color: white;
    }

   .text_align{
    text-align:center;
    Line-height: 25.2px
   }

.summary_urgent{
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 48px;
    gap: 61px;
    width: 580px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width:580px;
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
}

.summary_urgent:hover{
     background: #2A3647;
     cursor: pointer;
     color: white;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
     transform: scale(108%);
     animation-timing-function: ease-in-out;
     animation-duration: 120ms;    
 }


.urgent_container{
    display:flex;
   justify-content:center;
   align-items:center;
   gap:10px
}

.arrows{
    background-color:#FF3D00;
    width: 50px;
    height: 50px;
    border-radius:100px;
    padding:5px;
}

.urgent_task{
    font-size:47px;
    
}

.urgent_amount{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.date_container{
    display:flex;
    flex-direction: column;
    align-items:left;
    gap:10px
}

.current_date{
    font-size: 21px;
    font-weight: 700;    
    
}


.text{
    color: rgba(42, 54, 71, 1);
    font-size:16px;
    Line-height: 19.2px;
}


.last_row{
    display:flex; 
    justify-content:space-between;
    gap:20px   
}

.summary_todo_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 38px 19px;
    gap: 5px;
    width: 272.5px;
    height: 150px;    
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor:pointer;
    color: rgba(42, 54, 71, 1);
    background-image:url('./img/pencil.png');
    background-repeat: no-repeat;
    background-position: 50px 35px;
}

.summary_done_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 38px 19px;
    gap: 5px;
    width: 272.5px;
    height: 150px;    
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor:pointer;
    color: rgba(42, 54, 71, 1);
    background-image:url('./img/done.png');
    background-repeat: no-repeat;
    background-position: 50px 35px;
}

.summary_done_container:hover{
    background: #2A3647;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(108%);
    animation-timing-function: ease-in-out;
    animation-duration: 120ms;   
    color:white;
    background-image:url('./img/done_blue.png');
    background-repeat: no-repeat;
    background-position: 50px 35px;
}

.summary_todo_container:hover{
    background: #2A3647;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(108%);
    animation-timing-function: ease-in-out;
    animation-duration: 120ms;   
    color:white;
    background-image:url('./img/pencil_blue.png');
    background-repeat: no-repeat;
    background-position: 50px 35px;
}

.summary_todo{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;    
    margin-left:50px;
}

.img_todo{     
    background-color:#2A3647;
    padding:10px;
    border-radius:100px;
    width:69px;
    height:69px;
}


.img_pencil{
    margin-left:10px;
    margin-top:8px
}

.img_done{
    background-color:#2A3647;
    padding:10px;
    border-radius:100px;
    width:69px;
    height:69px

}

#img_check{
    margin-left:5px;
    margin-top:8px
}


.amount_todos{
    font-size:64px;    
   }

.amount_done{
    font-size:64px;    
   }

   .greeting_container{
    display:flex;
    flex-direction:column;   
    margin-left:100px
   }

   #greeting{
   
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    color: #2A3647;
    }

    #name_contact{
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #29ABE2;
    }

    .line_horizontal{
        display:none
    }


    @media(max-width:540px){
    
.greeting_container{
    display:none
    }

    .container{
        margin-left: unset;
        margin-right: unset;
        margin-top: 20px
    }

    .summary_headline{
        display:flex;
        flex-direction:column;
        justify-content: left;
        align-items: flex-start;       
        padding-bottom:10px;
        padding-top:138px;        
        gap:2px;
    }

    .line_vertical {
        display:none
    }

    .line_horizontal{
    display:unset;
    }

    .task_cases{
    justify-content: center;
    gap:10px
    }

    .summary_tasks{
        align-items:center
    }

    .tasks{
        width:100px;
        height:100px;
        border-radius:20px;
        gap:2px;
        font-size:12px;
        color:#2A3647;
        padding:2px;
        text-align:center
    }

    .tasks:hover{     
        color:#2A3647;
        background-color: white;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); 
        transform: unset;
        animation-timing-function: unset;
        animation-duration: unset;
       }

.tasks_in_board{
    font-size: 30px;
}

.summary_urgent{
 width:323px;
 padding:unset;
 height: 110px;
 border-radius:20px;
 gap:15px;
 color:#2A3647;
 font-size:12px
}

.summary_urgent:hover{
    background: white;
    color: #2A3647;
    box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.1);  
    transform: unset;
    animation-timing-function: unset;
    animation-duration: unset;   
}

.date_container{
    width:100%;    
}

.current_date{
    font-size:14px
}

.arrows{
    width:40px;
    height:40px;   
}

.urgent_container{
    padding-left:30px;
    color:#2A3647;
}

.urgent_task{
    font-size:30px
}

.summary_todo_container{
    width: 155px;
    height: 100px;
    background-size: 45px 45px;
    border-radius: 20px;
    background-position: 20px;
}

.summary_done_container{
    width: 155px;
    height: 100px;
    background-size: 45px 45px;
    background-position: 20px;
    border-radius: 20px;
}

.img_todo{
    width:50px;
    height:50px;
    padding:2px
}

.img_done{
    width:50px;
    height:50px;
    padding:2px
}

.summary_todo{
gap:unset
}

.join_base{
    height:100vh
}

.summary_done_container:hover{  
    background-color: white;
    color:#2A3647;
    transform: unset;
    animation-timing-function: unset;
    animation-duration: unset;       
    box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.1); 
    background-image:url('./img/done.png');   
    background-size: 45px 45px;
    background-position: 20px;
}

.summary_todo_container:hover{  
    background-color: white;
    color:#2A3647;
    transform: unset;
    animation-timing-function: unset;
    animation-duration: unset;       
    box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.1); 
    background-image:url('./img/pencil.png');   
    background-size: 45px 45px;
    background-position: 20px;
}

.text_align{
    line-height:15px;
}
.amount_done{
    font-size:36px;    
   }

.amount_todos{
    font-size:36px; 
}

.last_row{
    gap:10px
}

}

@media (min-width:541px) and (max-width:800px){
    .greeting_container{
        display:none
        }
    
        .container{
            margin-left: unset;
            margin-right: unset;
            margin-top: 20px
        }
    
        .summary_headline{
            display:flex;
            flex-direction:column;
            justify-content: left;
            align-items: flex-start;       
            padding-bottom:10px;
            padding-top:138px;          
            gap:10px;
        }
    
        .line_vertical {
            display:none
        }
    
        .line_horizontal{
        display:unset;
        }
    
        .task_cases{
        justify-content: center;
        gap:20px
        }
    
        .summary_tasks{
            align-items:center
        }
    
        .tasks{
            width:150px;
            height:150px;
            border-radius:20px;
            gap:10px;
            font-size:18px;
            color:#2A3647;
            padding:2px;
            text-align:center
        }
    
        .tasks:hover{     
            color:#2A3647;
            background-color: white;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); 
            transform: unset;
            animation-timing-function: unset;
            animation-duration: unset;
           }
    
    .tasks_in_board{
        font-size: 45px;
    }
    
    .summary_urgent{
     width: 488px;
     padding:unset;
     height: 110px;
     border-radius:20px;
     gap:15px;
     color:#2A3647;
     font-size:18px
    }
    
    .summary_urgent:hover{
        background: white;
        color: #2A3647;
        box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.1);  
        transform: unset;
        animation-timing-function: unset;
        animation-duration: unset;   
    }
    
    .date_container{
        width:100%;    
    }
    
    .current_date{
        font-size:25px
    }
    
    .arrows{
        width:50px;
        height:50px;   
    }
    
    .urgent_container{
        padding-left:30px;
        color:#2A3647;
    }
    
    .urgent_task{
        font-size:45px
    }
    
    .summary_todo_container{
        width: 230px;
        height: 130px;
        background-size: 60px 60px;
        border-radius: 20px;
        background-position: 20px;
    }
    
    .summary_done_container{
        width: 230px;
        height: 130px;
        background-size: 60px 60px;
        background-position: 20px;
        border-radius: 20px;
    }
    
   
    .summary_todo{
    gap:unset
    }
    
    .join_base{
        height:100vh
    }
    
    .summary_done_container:hover{  
        background-color: white;
        color:#2A3647;
        transform: unset;
        animation-timing-function: unset;
        animation-duration: unset;       
        box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.1); 
        background-image:url('./img/done.png');   
        background-size: 60px 60px;
        background-position: 20px;
    }
    
    .summary_todo_container:hover{  
        background-color: white;
        color:#2A3647;
        transform: unset;
        animation-timing-function: unset;
        animation-duration: unset;       
        box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.1); 
        background-image:url('./img/pencil.png');   
        background-size: 60px 60x;
        background-position: 20px;
    }
    
    .text_align{
        line-height:25px;
        
    }

    .amount_done{
        font-size:36px;    
       }
    
    .amount_todos{
        font-size:36px; 
    }
    
    .last_row{
        gap:20px
    }   
}

@media (min-width:801px) and (max-width:1000px){
    .greeting_container{
        display:none
        }
    
        .container{
            margin-left: unset;
            margin-right: unset;
            margin-top: 20px
        }
    
        .summary_headline{
            display:flex;
            flex-direction:column;
            justify-content: left;
            align-items: flex-start;       
            padding-bottom:10px;
            padding-top:138px;          
            gap:10px;
        }
    
        .line_vertical {
            display:none
        }
    
        .line_horizontal{
        display:unset;
        }
    
        .task_cases{
        justify-content: center;
        gap:20px
        }
    
        .summary_tasks{
            align-items:center
        }
    
        .tasks{
            width:150px;
            height:150px;
            border-radius:20px;
            gap:10px;
            font-size:18px;
            color:#2A3647;
            padding:2px;
            text-align:center
        }
    
        .tasks:hover{     
            color:#2A3647;
            background-color: white;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); 
            transform: unset;
            animation-timing-function: unset;
            animation-duration: unset;
           }
    
    .tasks_in_board{
        font-size: 45px;
    }
    
    .summary_urgent{
     width: 488px;
     padding:unset;
     height: 110px;
     border-radius:20px;
     gap:15px;
     color:#2A3647;
     font-size:18px
    }
    
    .summary_urgent:hover{
        background: white;
        color: #2A3647;
        box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.1);  
        transform: unset;
        animation-timing-function: unset;
        animation-duration: unset;   
    }
    
    .date_container{
        width:100%;    
    }
    
    .current_date{
        font-size:25px
    }
    
    .arrows{
        width:50px;
        height:50px;   
    }
    
    .urgent_container{
        padding-left:30px;
        color:#2A3647;
    }
    
    .urgent_task{
        font-size:45px
    }
    
    .summary_todo_container{
        width: 230px;
        height: 130px;
        background-size: 60px 60px;
        border-radius: 20px;
        background-position: 20px;
    }
    
    .summary_done_container{
        width: 230px;
        height: 130px;
        background-size: 60px 60px;
        background-position: 20px;
        border-radius: 20px;
    }
    
   
    .summary_todo{
    gap:unset
    }
    
    .join_base{
        height:100vh
    }
    
    .summary_done_container:hover{  
        background-color: white;
        color:#2A3647;
        transform: unset;
        animation-timing-function: unset;
        animation-duration: unset;       
        box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.1); 
        background-image:url('./img/done.png');   
        background-size: 60px 60px;
        background-position: 20px;
    }
    
    .summary_todo_container:hover{  
        background-color: white;
        color:#2A3647;
        transform: unset;
        animation-timing-function: unset;
        animation-duration: unset;       
        box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.1); 
        background-image:url('./img/pencil.png');   
        background-size: 60px 60x;
        background-position: 20px;
    }
    
    .text_align{
        line-height:25px;
        
    }

    .amount_done{
        font-size:36px;    
       }
    
    .amount_todos{
        font-size:36px; 
    }
    
    .last_row{
        gap:20px
    }   
}